# Supabase
SUPABASE_URL=https://uftytdzaqybxprbmhvcl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmdHl0ZHphcXlieHByYm1odmNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwNzU2NDYsImV4cCI6MjA5NzY1MTY0Nn0.bx92Y0oKryYbp1slbsQm6lMDRBzDTAxhd_tvE9MJ5Co

# Z-API
ZAPI_INSTANCE=3F4FFCCF82F3B33565A98645B9B7D1FC
ZAPI_TOKEN=54B8D7E1A226132D9FE36271
ZAPI_CLIENT_TOKEN=Fe02bf163a5c448b3a96ea4868b1cdf5fS