# Supabase
SUPABASE_URL=https://uftytdzaqybxprbmhvcl.supabase.co
SUPABASE_KEY=sb_publishable_9rjWnL8AtxA2IrgrX3z_XQ_5cenU30v

# Z-API
ZAPI_INSTANCE=3F4FFCCF82F3B33565A98645B9B7D1FC
ZAPI_TOKEN=D2BB779281AD82DA4C945EFD
ZAPI_API_URL=https://api.z-api.io/instances/3F4FFCCF82F3B33565A98645B9B7D1FC/token/D2BB779281AD82DA4C945EFD/send-text